<!DOCTYPE html>
<html>
  <head>
    {{> head}}
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    {{> header}}
    {{> start}}

    <ul>
      <li>資料來源：世界銀行</li>
      <li>點擊圖示可以查詢更多資訊</li>
      <li>因世界銀行債務資料僅提供「開發中國家」，欲了解所有國家近期外債資訊可<a href="https://zh.wikipedia.org/wiki/%E5%90%84%E5%9B%BD%E5%A4%96%E5%80%BA%E5%88%97%E8%A1%A8">參考這裡</a></li>
    </ul>

	<div class="ui buttons">
	  <button id="gdp" class="ui button" onclick="GDP()">GDP</button>
	  <button id="debt" class="ui button" onclick="DEBT()">債務</button>
	</div>

	<div style="width: 100%; height: 501px;">
		<div style="float: left;">
      <div id="graph"></div>
      <div id="year-label"></div>
			<div style="margin-top:5px; margin-bottom: 10px;">
			    <div id="slider"></div>
			</div>
		</div>
		<div id="bar"></div>
  </div>
  {{> end}}
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js"></script>
	<script src="./index.js" async></script>
  {{> footer}}
  </body>
</html>
