#slider {
  margin-bottom: 30px;
}
#graph {
  height: 100%;
}
#graph svg{
  background-color:#B5D0D0;
}
#year-label {
  position: absolute;
  left: 950px;
  top: 700px;
  z-index: 99;
  font-size: 70px;
  font-weight: 700;
  color: #73A1BF;
}
#states path {
  fill: #F1EEE8;
  stroke:#0096888;
}
circle {		
  fill-opacity: .6;
  stroke: #0883E5;
}
text {
  fill: #fff;
}
#bar {
  background: rgb(181, 208, 208);
  border-radius: 3px;
  padding: 10px;
  padding-top: 30px;
  position: relative;
  width: 360px;
  float: left;
  height: 500px;
  overflow: auto;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
tspan {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color:red;
}
.ui.buttons .button {
  font-weight: 200;
}

@media all and (max-width: 600px) {
  #year-label {
    left: 20px;
    position: relative;
    top: 0px
  }
}
