html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', 'sans-serif', 'Microsoft Jhenghei'; 
}
#map {
  height: 100%;
}
.news, .card-square.mdl-card {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100px;
  min-height: 100px;
  z-index: 99;
}
.mdl-card__title h2{
  font-size: 18px;
  background: rgba(0, 0, 0, 0.4);
}
.card-square > .mdl-card__title {
  color: #fff;
  text-shadow: 0.5px 0.5px #333;
}
.mdl-card__supporting-text {
  display: none;
  overflow: auto;
  height: 180px;
}
